
body{
	background-color: #02010a;
	font-family: 'Dancing Script', cursive;
	height: 5em;
}

#contenido_general{
	width: 900px;
	margin: auto;
}

/*-----FORMATO AL HEADER-----*/

#cabecera{
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
	display: flex;
	padding-left: 3em;
}

#cabecera h1{
	color: white;
	text-shadow: 2px 2px #02010a;
	width: 70%;
} 

#cabecera nav{
	width: 30%;
	height: 5em;
	display: flex;
}

#cabecera nav ul{
	display: flex;
	justify-content: space-around;
	padding: 0em;
	margin: 0em;
	width: 90%;
}

#cabecera nav ul li{
	list-style-type: none;
	margin-left: 0.125em;
	width: 33.33%;
	height: 100%;
	position: relative;
}

#cabecera nav ul li .menu{
	color: white;
	display: block;
    text-align: center;
    width: 100%;
	padding: 1.9375em 0em;
	position: absolute;
}

#pagina_index{
	background-color: #3399cc;
	font-weight: bold;
	text-decoration: none;
}

#cabecera nav ul li .menu:hover{
	background-color: #3399cc;
	font-weight: bold;	
}

/*-----FORMATO A SECTION-----*/

#contenido{
	display: flex;
	flex-direction: column;
}

#contenido #principal{
	background-color: #82c3a6;
	display: flex;
	justify-content: center;
}

#contenido #principal > figure{
	width: 100%;
}

#contenido #secundario{
	background-color:  #d5c75f;
	display: flex;
	/*justify-content: center;*/	
}

#contenido #secundario a{
	display: block;
}

#contenido .imagen{
	box-shadow: 2px 2px #02010a;
	width: 100%;
}

#contenido #secundario .imagen{
	border:2px solid black;
}


/*-----FORMATO AL FOOTER-----*/
#contenido_footer{
	background-color: #C6d5c5;
	border-radius: 0px 0px 10px 10px;
	padding-left: 3em;
	padding-right: 3em;
	display: flex;
}

#contenido_footer > div{
	width: 25%;
}

#redes{
	display: flex;
	padding-right: 0.4em;
}

#redes figure{
	margin: 0em;
	width: 100%;

}

#redes a{
	display: block;
	padding: 0.2em 0.4em 0.2em 0.4em;
	/*width: 33.33%;*/
}



#redes .img_redes{
	width: 100%;
}

/*----- MEDIA QUERIES -----*/

@media (max-width: 900px){
	#contenido_general{
		width: 100%;
	}

	#cabecera{
		flex-direction: column;
		padding-left: 0em;
	}

	#cabecera h1{
		text-align: center;
		width: 100%;
	} 

	#cabecera nav{
		width: 100%;
	}

	#cabecera nav ul{
		margin: auto;
	}

	#cabecera nav ul li{
		position: static;
	}

	#cabecera nav ul li .menu{
		position: static;
	}

	#contenido #secundario{
		flex-direction: column;
	}

	#contenido_footer{
		flex-direction: column;
		padding-left: 1.5em;
		padding-right: 1.5em;
	}

	#contenido_footer > div{
		width: 100%;
	}

}

/*----- EFECTOS -----*/

#imagen_2:hover{
	transform: rotate(10deg);
	-webkit-transition: transform 1s;
	transition: transform 1s;
	box-shadow: 2px 2px #82c3a6;
}

#imagen_2{
	-webkit-transition: transform 2s;
	transition: transform 2s;
}

#imagen_3:hover{
	transform: translate(20px, -5px);
	-webkit-transition: transform 1s;
	transition: transform 1s;
	box-shadow: 2px 2px #82c3a6;
}

#imagen_3{
	-webkit-transition: transform 2s;
	transition: transform 2s;
}