body {
	background-color:  #02010a;
}

header {
	background-color:  #5b7989;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-o-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}

header h1 {
	color: white;
	text-shadow: 2px 2px #02010a;
	font-family: 'Coiny', cursive;
}

img {
	box-shadow: 2px 2px #02010a;
}

ul {
	list-style-type: none;
}

li {
	float: left;
}

li a {
	display: block;
	padding: 8px;
	text-decoration: none;
}

footer {
	clear: both;
}